.client-success-stories {
  position: relative;
  background: url("../assets/homepage assets/client-success-stories.jpeg")
    no-repeat center;
  background-size: cover;
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
