.floating-icons-container {
  position: fixed;
  width: 100%;
  z-index: 999;
  bottom: 20px;
}

.floating-icon {
  position: absolute;
  bottom: 0;
  padding: 12px;
  border-radius: 50%;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60px;
  max-height: 60px;
  text-decoration: none;
  border: none;
}

.whatsapp {
  right: 20px;
  background-color: #25d366;
}

.floating-icon:hover {
  opacity: 0.8;
}

.icon-size {
  font-size: 35px;
}

@media screen and (max-width: 480px) {
  .floating-icon {
    padding: 8px;
    max-width: 50px;
    max-height: 50px;
  }

  .icon-size {
    font-size: 45px;
  }
}
