.job-form-container {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
}
.job-form-image-container {
  max-width: 800px;
}
.job-form-image {
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.job-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.job-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.job-form-content h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #008080;
}

.job-form-content p {
  font-size: 16px;
  color: gray;
}

.job-form input,
.job-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.job-form textarea {
  resize: vertical;
  height: 100px;
}

.job-form input:disabled {
  background: #f5f5f5;
}

.job-form button {
  width: 100%;
  padding: 12px;
  background: #0c557e;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.job-form button:hover {
  background: #023858;
}

.job-form button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.job-form-spinner {
  width: 18px;
  height: 18px;
  border: 3px solid #fff;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

<<<<<<< HEAD
.job-form-checkbox {
  margin-bottom: 15px;
  /* display: flex; */
}
.job-form-checkbox input {
  margin: 0 10px;
  width: auto;
}
.job-form-checkbox-label {
  text-align: left;
  font-size: 14px !important;
  color: #333;
  line-height: 1.5;
  font-weight: 400 !important;
}

.job-form-checkbox-label a {
  color: #007bff;
  text-decoration: none;
}

.job-form-checkbox-label a:hover {
  text-decoration: underline;
}

=======
>>>>>>> 591cd4e84ce226b18e1c89eaf91f3f0f8281833f
@media (max-width: 1024px) {
  .job-form-container {
    padding: 0;
    padding-bottom: 4rem;
    justify-content: center;
    flex-direction: column;
  }

  .job-form-image-container {
    width: 100%;
    max-width: 100%;
  }

  .job-form-image {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    object-position: 50%;
    border-radius: 0;
    box-shadow: 0 0;
  }
}
@media (max-width: 550px) {
  .job-form-content {
    margin: 20px;
    width: auto;
  }
}
