.footer-container {
  background-color: #0d557f;
  color: white;
  padding: 3rem 1rem;
  padding-bottom: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}
.footer-content p {
  color: #ffffffbf;
}
.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-section p {
  line-height: 1.5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  margin-left: 8px;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #12bdbd;
}

.arrow-icon {
  color: #12bdbd;
  font-size: 0.9rem;
}

.footer-icon {
  color: #12bdbd;
  font-size: 1rem;
  margin-right: 8px;
  transition: color 0.3s ease;
}
.footer-icon:hover {
  color: #fff;
}
.footer-social-icons {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}
.footer-section a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #12bdbd;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 1rem;
}
.footer-bottom-show {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.footer-bottom-hidden {
  color: #0d557f;
  font-size: 1px;
  user-select: none;
}

.footer-bottom-hidden a {
  margin-left: 5px;
  color: #0d557f;
  text-decoration: none;
  user-select: none;
  cursor: default;
}

@media (max-width: 1024px) {
  .footer-content {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer-section {
    min-width: 250px;
  }

  .footer-section h3 {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .footer-container {
    padding: 2rem 1rem;
  }

  .footer-bottom {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .footer-container {
    padding: 1.5rem 1rem;
  }

  .footer-content {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer-section {
    width: 100%;
  }

  .footer-section h3 {
    font-size: 1rem;
  }

  .footer-bottom {
    font-size: 0.8rem;
  }
}
