.what-we-do-container {
  background-color: #f9f9f9;
  padding: 4rem 1rem;
  text-align: center;
}

.what-we-do-subtitle {
  color: #0985a6;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.what-we-do-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.what-we-do-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.what-we-do-card {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.extra-categories-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
}
.show-categories {
  max-height: 400px;
  transition: max-height 0.8s ease-out;
}

.extra-categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 1rem;
}

.white-card {
  background-color: white;
}

.blue-card {
  background-color: #0d557f;
  color: white;
}

.what-we-do-container h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.what-we-do-container p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.learn-more {
  color: #0985a6;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s ease;
}

.learn-more:hover {
  text-decoration: underline;
}

.blue-card .learn-more {
  color: #fff;
}

.blue-card .learn-more:hover {
  color: #ddd;
}

.browse-categories-btn {
  background-color: #0985a6;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: auto;
  margin-top: 2rem;
  transition: background 0.3s;
}

.browse-categories-btn:hover {
  background-color: #086f8a;
}

@media (max-width: 1024px) {
  .what-we-do-title {
    font-size: 1.8rem;
  }
  .what-we-do-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .what-we-do-container {
    padding: 3rem 1rem;
  }
  .what-we-do-title {
    font-size: 1.6rem;
  }
  .what-we-do-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 425px) {
  .what-we-do-container {
    padding: 2rem 1rem;
  }
  .what-we-do-title {
    font-size: 1.4rem;
  }
  .what-we-do-card {
    padding: 1rem;
  }
}
