.industries-container {
  margin: auto;
  padding: 40px 20px;
  background-color: #0f263e;
  color: #ffffff;
}
.industries-content {
  max-width: 1400px;
  margin: auto;
}
.industries-container h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #12bdbd;
}

.industries-container p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #cccccc;
}

.industries-grid {
  display: grid;
  gap: 20px;
  justify-content: center;
}

.industries-grid {
  grid-template-columns: repeat(5, 1fr);
}

.industry-card {
  background-color: #1c3a57;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: transform 0.3s ease-in-out;
}

.industry-card:hover {
  transform: scale(1.05);
}

.industry-card-icon {
  font-size: 24px;
  color: #12bdbd;
}

@media (max-width: 1024px) {
  .industries-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .industries-content {
    margin: 0 1%;
  }
}

@media (max-width: 550px) {
  .industries-content h2 {
    font-size: 1.2rem;
  }
  .industries-content p {
    font-size: 0.95rem;
  }
  .industries-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
